<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Image</th>
  </tr>
  {{#each kakalots}}
    <tr>
      <td>{{Name}}</td>
      <td>{{Age}}</td>
      <td>{{Email}}</td>
      <td>
        <img src="{{Image}}" width="100" height="100" />
      </td>
    </tr>
  {{/each}}
</table>